@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Tamaño del scroll en vertical */
  display: block; /* Ocultar scroll */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(246, 21, 92, 0.56);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
